<!DOCTYPE html>
<html>
  <head>
    <title>Bot</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="jumbotron">
      <h1>Home</h1>
      <hr />
      <p>Did you mean to verify? Click the button below!</p>
      <a class="btn btn-success" href="/verify">Verify</a>
    </div>
  </body>
</html>
