<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="alert alert-danger">
      <h1>Proxied IP Detected!</h1>
      <hr />
      <p>This IP is marked as a <b>Non-residential IP</b> by <a href="https://iphub.info/">IPHub</a>. You have been kicked from the server.</p>
    </div>
  </body>
</html>