<!DOCTYPE html>
<html>
  <head>
    <title>Verified!</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="alert alert-success">
      <h1>Successfully Verified!</h1>
      <hr />
      <p>You have been successfully verified. You may now close this page.</p>
    </div>
  </body>
</html>